.main-header {
  margin: 0 0 20px;
  font-family: 'Coolvetica Rg', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.someclass {
  margin: 0;
}

@media (width >=768px) {
  .main-header {
    margin: 0 0 35px;
    font-size: 35px;
  }
}

@media (width >=1280px) {
  .main-header {
    margin: 0 0 50px;
    font-size: 50px;
  }
}
