.gallery {
  position: relative;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px 8px;
  margin: 0 0 20px;
}

.no-content {
  min-height: calc(100vh - 297px);
}

.gallery-title {
  grid-column: 1 / -1;
  margin: 0 0 5px;
  font-size: 14px;
}

.title-error {
  margin: 25px 0;
  font-size: 25px;
}

@media (width >=768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px 16px;
  }

  .no-content {
    min-height: calc(100vh - 277px);
  }

  .title-error {
    margin: 35px 0;
    font-size: 35px;
  }
}

@media (width >=1280px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    gap: 40px 29px;
    align-items: start;
  }

  .no-content {
    min-height: calc(100vh - 416px);
  }

  .gallery-title {
    margin: 0 0 -10px;
    font-size: 16px;
  }

  .title-error {
    margin: 45px 0;
    font-size: 50px;
  }
}
