.universitites-search-wrapper {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 15px;
  margin: 0 0 30px;
}

.universities-search-button {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: 500;
  color: var(--background);
  background-color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 20px;
  transition: color 0.5s ease,
    background-color 0.5s ease;

  &:hover,
  &:focus-visible {
    color: var(--primary-text-color);
    background-color: transparent;
  }

  &:focus-visible {
    outline: none;
  }
}

@media (width >=768px) {
  .universitites-search-wrapper {
    grid-template-rows: auto;
    grid-template-columns: 1fr 176px;
    gap: 0 72px;
    margin: 0 0 25px;
  }

  .universities-search-button {
    gap: 8px;
    font-size: 14px;
    border-radius: 30px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (width >=1280px) {
  .universitites-search-wrapper {
    grid-template-columns: 1fr 267px;
    gap: 0 100px;
    margin: 0 0 40px;
  }

  .universities-search-button {
    gap: 15px;
    padding: 14px;
    font-size: 16px;
    border-radius: 40px;

    & svg {
      width: 27px;
      height: 27px;
    }
  }
}
